*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.container{
	background: url(../img/Group\ 15.png);
	width: 100%;
	background-color: white;
	.novbar{
		display:flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px 70px ;
	}
	.nov-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		padding-top: 20px;
		a{
			color: black;
		}
	}
	button{
		padding: 15px 40px;
		border-radius: 10px 0px;
		background-color: orangered;
		border: none;
		color: white;
		box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
	}
	.header{
		 width: 100%;
		 .box{
			display: flex;
			justify-content: space-around;
			align-items: center;
			.card1{
				// background-color: gray;
				// width: 50%;
				height: 100vh;
				.rasm{
					padding: 0px 25px;
					}
					.soz{
						h1{
							font-size: 55px;
							font-weight: 500;
							padding: 25px 85px;
						}
					}
					p{
						padding: 50px 85px;
						word-spacing: 10px;
					}
					.but{
						padding: 25px 85px;
						display: flex;
						gap: 15px;
						.but1{
							button{
								background-color: black;
								color: white;
								box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
							}
						}
						.but2{
							button{
								color: white;
								box-shadow: 25px;
								box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
							}
						}
					}
					.icon{
						padding: 25px 85px;
						display: flex;
						align-items: center;
						gap: 55px;
						.rasm1{
							img{
								position: absolute;
								border-radius: 50%;
								border: 1px black solid;
							}
						}
						.rasm2{
							img{
								position: absolute;
								padding:4px 4px;
								border-radius: 50%;
								border: 1px black solid;
							}
						}
						.rasm3{
							img{
								position: absolute;
								border-radius: 50%;
								border: 1px black solid;
							}
						}
					}
}
.card2{
	img{
		height: 100vh;
		padding-right: 95px;
		padding-top: 100px;
		box-shadow: 0px 15px 30px rgba(0,0,0,0.30);
	}
}
}
}
}